.themeItemContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.ant-card {
  padding: 10px;
  margin-bottom: 10px;
}

.drawerTitle {
  margin-left: 5px;
}

.ant-drawer-body {
  padding: 20px !important;
}

.themeCard:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  z-index: 999;
}

.selectedTheme {
  width: 240px;
  border: solid 3px #4dcc64;
}

.cardFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ant-card-body {
  padding: 12px !important;
  border: none !important;
}

.sectionTitle {
  font-size: 1.4em;
  margin-top: 40px;
  font-weight: 900;
}

.headLinks {
  width: 100%;
  margin: 0px;
  background: white;
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 61px;
  padding-top: 10px;
}

.themeTag {
  margin-right: 20px;
  width: 120px;
}

.ant-card:not(.ant-card-bordered) {
  box-shadow: none;
}

.ant-card .ant-card-cover img {
  height: 150px !important;
}

.ant-drawer-mask {
  background: rgb(0 0 0 / 16%) !important;
}

.themeSettingDrawer {
  width: 45%;
}
