.bear-gotham {
  /* Background color for the rest of body */
  /* Header - Note title */
  /* primary text colour */
  /*topbar*/
  /*sidebar*/
  /*right sidebar*/
  /*border between page in daily notes*/
  /* hashtags */
  /* the bright blue highlight color */
  /* the reference boxes at the bottom */
  /* CodeMirror */
}
.bear-gotham body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  letter-spacing: -0.001em;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.bear-gotham .roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button {
  padding: 8px 20px;
  font-weight: 900;
  cursor: pointer;
  font-size: 16px;
  color: #2eb88c;
}
.bear-gotham body {
  background-color: #11151c;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  letter-spacing: -0.001em;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.bear-gotham .roam-app h1 {
  color: #2eb88c !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: bold;
}
.bear-gotham .roam-app {
  color: #6aa9b9 !important;
}
.bear-gotham .roam-topbar {
  background-color: #11151c;
  border-bottom: 1px solid #1c373e;
}
.bear-gotham .roam-body .roam-app .roam-sidebar-container {
  background-color: #11151c;
  border-right: 1px solid #1c373e;
}
.bear-gotham .roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper {
  color: #2eb88c;
}
.bear-gotham .flex-v-box .starred-pages-wrapper:first-child {
  background-color: #1c373e;
}
.bear-gotham .roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page {
  color: #2eb88c;
}
.bear-gotham .roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page:hover {
  color: white;
}
.bear-gotham #right-sidebar {
  background-color: #11151c !important;
  border-left: 1px solid #1c373e;
  font-size: 15px;
}
.bear-gotham #right-sidebar .flex-h-box .bp3-button .bp3-minimal .bp3-small {
  color: #2eb88c;
}
.bear-gotham .roam-log-container .roam-log-page {
  border-top: 1px solid #1c373e;
}
.bear-gotham .rm-page-ref-tag {
  color: #d4fef0 !important;
  background: #1a6950;
  padding: 0.1em 0.6em;
  border-radius: 12px;
}
.bear-gotham .block-border-left {
  border-left: 1px solid #1c373e;
}
.bear-gotham .rm-block-ref {
  border-bottom: 1px solid #2eb88c;
}
.bear-gotham .rm-block-ref:hover {
  background: #091722;
  border: 1px solid #112a3f;
}
.bear-gotham .rm-page-ref-tag:hover {
  text-decoration: underline;
}
.bear-gotham .block-highlight-blue {
  background-color: #1c2e3e;
}
.bear-gotham .rm-reference-item {
  background-color: #0b1721;
  margin-top: 12px;
  border: 1px solid #1e3745;
  border-radius: 4px;
}
.bear-gotham .rm-reference-item .roam-block {
  padding-top: 8px;
  padding-bottom: 8px;
}
.bear-gotham .rm-reference-item .controls {
  padding-top: 10px;
  padding-bottom: 4px;
}
.bear-gotham .rm-page-ref.rm-page-ref-link-color {
  color: #f2825a;
}
.bear-gotham .rm-page-ref:hover {
  color: #ff895e;
}
.bear-gotham .rm-page-ref.rm-page-ref-link-color {
  color: #f2825a;
}
.bear-gotham a {
  color: #f2825a;
}
.bear-gotham a:focus {
  color: #f2825a;
}
.bear-gotham a:hover {
  color: #ff895e;
}
.bear-gotham .rm-level2 {
  color: #2eb88c;
  font-weight: 700;
}
.bear-gotham .rm-level3 {
  color: #2eb88c;
  font-weight: 500;
}
.bear-gotham code {
  color: #a0a2b6;
  background: #091722;
  border: 1px solid #112a3f;
  padding: 0.3em 0.4em;
  border-radius: 3px;
}
.bear-gotham .CodeMirror {
  background: #091722;
  color: #589cab;
}
.bear-gotham .CodeMirror-lines {
  color: #a0a2b6;
}
.bear-gotham .CodeMirror-gutters {
  background-color: #091722;
  border-right: 1px solid #112a3f;
}
.bear-gotham .CodeMirror-activeline-background {
  background: #0d2030;
}
.bear-gotham .cm-s-default .cm-keyword {
  color: #5393a2;
}
.bear-gotham .cm-s-default .cm-bracket .CodeMirror-matchingbracket {
  text-decoration: #5393a2;
  color: white !important;
}
