.lilac-light {
  --background-colour: #eff2f1;
  --edges-colour: #dcdcdc;
  --edges-colour-semi-transparent: #dcdcdc;
  --contrast-colour: #333333;
  --title-colour: #7b2cbf;
  --highlight-colour-1: #bba0ca;
  /* === Full page styling === */
  /* Scrollbar */
  /* All pages styling */
  /* === Navigation styling === */
  /* Graphs menu */
  /* === Topbar styling === */
  /* === Main content styling === */
  /* Subtitles */
  /* Bullet */
  /* === Content blocks === */
  /* External link */
  /* Datepicker */
  /* Query */
  /* Diagram */
  /* Kanban board */
  /* === References section (bottom of page) === */
  /* === Right sidebar === */
  /* === Popup menus === */
  /*Popup menu, Slash dropdown menu, Filter popup menu, Filter menu buttons */
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh7USew8.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHvxk.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh6UVew8.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh50Xew8.ttf) format('truetype');
}
.lilac-light body,
.lilac-light div,
.lilac-light textarea {
  font-family: 'Lato', sans-serif !important;
}
.lilac-light .roam-body {
  background-color: var(--background-colour);
}
.lilac-light .roam-body-main {
  scrollbar-color: var(--edges-colour) var(--background-colour);
}
.lilac-light body::-webkit-scrollbar-track {
  background: var(--background-colour);
}
.lilac-light body::-webkit-scrollbar-thumb {
  background-color: var(--edges-colour);
}
.lilac-light .bp3-button::before,
.lilac-light .bp3-icon-small::before,
.lilac-light .bp3-icon::before,
.lilac-light .bp3-icon-standard::before,
.lilac-light .bp3-icon svg {
  /* Icons */
  color: var(--highlight-colour-1) !important;
}
.lilac-light .bp3-button {
  color: var(--contrast-colour) !important;
}
.lilac-light #buffer {
  display: none !important;
}
.lilac-light #rm-all-pages-column-titles,
.lilac-light .sorted-header-text,
.lilac-light #rm-all-pages-column-titles .rm-pages-title-col {
  /* Table headings */
  background-color: var(--edges-colour);
  color: var(--contrast-colour);
}
.lilac-light .rm-pages-row .bp3-control-indicator::before {
  /* Checkbox */
  border: 1px solid var(--edges-colour);
  background-color: var(--background-colour);
}
.lilac-light .rm-pages-row .rm-pages-title-text {
  color: var(--contrast-colour);
}
.lilac-light .rm-pages-row .title-children-text {
  color: var(--edges-colour);
}
.lilac-light .rm-pages-row .rm-pages-col > span {
  color: var(--title-colour);
}
.lilac-light .rm-pages-row .rm-clickable-pill {
  background-color: var(--highlight-colour-1);
  color: var(--background-colour);
}
.lilac-light .rm-pages-row .empty-pill {
  background-color: var(--edges-colour);
  color: var(--contrast-colour);
}
.lilac-light .roam-sidebar-container {
  background-color: var(--background-colour) !important;
  border-right: 1px solid var(--edges-colour);
}
.lilac-light .rm-graph-dropdown li,
.lilac-light .rm-graph-dropdown a {
  color: var(--highlight-colour-1) !important;
}
.lilac-light .rm-graph-dropdown h6 {
  color: var(--contrast-colour) !important;
}
.lilac-light .roam-sidebar-container button div {
  /* Email */
  color: var(--contrast-colour) !important;
}
.lilac-light .roam-sidebar-container .log-button {
  /* Page titles */
  font-weight: 300 !important;
  color: var(--title-colour) !important;
}
.lilac-light .starred-pages-wrapper span {
  /* Shortcuts title */
  color: var(--highlight-colour-1);
}
.lilac-light .starred-pages .page {
  /* Starred page */
  color: var(--title-colour) !important;
  font-weight: 300 !important;
}
.lilac-light #roam-sidebar-logo {
  /* Roam logo */
  opacity: 0.7;
}
.lilac-light .roam-topbar {
  background-color: var(--background-colour);
  border-bottom: 1px solid var(--edges-colour);
}
.lilac-light .rm-sync--saving-remote {
  /* Saving icon (saving) */
  background-color: var(--highlight-colour-1) !important;
}
.lilac-light .rm-sync--synced {
  /* Saving icon (saved) */
  background-color: var(--title-colour) !important;
}
.lilac-light .rm-find-or-create-wrapper .bp3-icon-search {
  /* Search icon */
  color: var(--contrast-colour);
}
.lilac-light #find-or-create-input {
  /* Search input */
  color: var(--highlight-colour-1);
  background-color: var(--background-colour);
  border: 1px solid var(--contrast-colour);
}
.lilac-light .roam-article h1,
.lilac-light .rm-title-display,
.lilac-light .rm-title-display span {
  /* Page heading */
  color: var(--title-colour) !important;
  font-weight: 700;
}
.lilac-light h1.rm-level1 {
  color: var(--contrast-colour) !important;
  font-weight: 800;
}
.lilac-light h2.rm-level2 {
  color: var(--contrast-colour);
  font-weight: 700;
}
.lilac-light h3.rm-level3 {
  color: var(--contrast-colour);
  font-weight: 400;
}
.lilac-light .roam-block-container {
  /* Main text */
  color: var(--contrast-colour);
  background-color: var(--background-colour);
}
.lilac-light .rm-edit-view-wrapper {
  /* Remove avatars */
  display: none;
}
.lilac-light .simple-bullet-inner {
  background-color: var(--highlight-colour-1) !important;
}
.lilac-light .roam-bullet-closed {
  background-color: var(--contrast-colour) !important;
}
.lilac-light .roam-bullet-closed .simple-bullet-inner {
  background-color: var(--background-colour) !important;
}
.lilac-light .block-highlight-blue {
  /* Block select highlighting */
  background-color: var(--edges-colour);
}
.lilac-light .block-ref-count-button {
  /* Block reference count */
  color: var(--contrast-colour) !important;
}
.lilac-light .rm-page-ref,
.lilac-light .rm-page-ref--link,
.lilac-light .rm-page-ref--namespace {
  /* Page link */
  color: var(--title-colour);
}
.lilac-light .rm-page-ref-tag {
  /* Hashtag */
  color: var(--contrast-colour);
  opacity: 0.4;
}
.lilac-light .rm-block-ref:hover {
  /* Quote */
  background-color: var(--contrast-colour);
  color: var(--background-colour);
}
.lilac-light .rm-embed-container,
.lilac-light .rm-embed-container .roam-block-container {
  /* Block embed */
  background-color: var(--edges-colour-semi-transparent);
}
.lilac-light .rm-block-text a,
.lilac-light .rm-block-text a:visited {
  color: var(--title-colour);
}
.lilac-light rm-block-text a:hover {
  color: var(--highlight-colour-1);
}
.lilac-light .rm-alias {
  /* Alias */
  color: var(--title-colour);
}
.lilac-light .roam-highlight {
  /* Text highlight */
  background-color: var(--highlight-colour-1);
  color: var(--background-colour);
}
.lilac-light .rm-block-text button.bp3-button {
  /* Word count, Pomodoro */
  background-color: var(--background-colour);
  background-image: none;
  border: 1px solid var(--edges-colour);
}
.lilac-light .rm-encrypted-block {
  /* Encrypted block */
  background-color: var(--background-colour);
  color: var(--contrast-colour);
}
.lilac-light .bp3-popover-target span {
  /* Calc block */
  color: var(--title-colour) !important;
}
.lilac-light select {
  /* Options list and other form elements */
  background-color: var(--background-colour);
}
.lilac-light .bp3-datepicker {
  background-color: var(--background-colour);
  border: 1px solid var(--edges-colour);
}
.lilac-light .bp3-datepicker select {
  color: var(--contrast-colour);
}
.lilac-light .rm-query {
  border: 1px solid var(--edges-colour);
}
.lilac-light .rm-query-title {
  color: var(--contrast-colour) !important;
  background-color: var(--edges-colour-semi-transparent) !important;
}
.lilac-light .bp3-slider .bp3-intent-primary,
.lilac-light span.bp3-slider-label {
  /*Slider */
  background-color: var(--title-colour) !important;
}
.lilac-light .roam-center svg,
.lilac-light #right-sidebar svg {
  color: var(--contrast-colour);
  background-color: var(--background-colour) !important;
  border: 1px solid var(--edges-colour) !important;
}
.lilac-light .roam-center svg rect,
.lilac-light #right-sidebar svg rect {
  fill: var(--background-colour);
  stroke: var(--contrast-colour);
}
.lilac-light .kanban-board {
  background-color: var(--background-colour);
  border: 1px solid var(--edges-colour);
}
.lilac-light .kanban-column {
  background-color: var(--edges-colour-semi-transparent);
  border: 1px solid var(--edges-colour);
}
.lilac-light .kanban-card {
  background-color: var(--background-colour);
}
.lilac-light .rm-reference-main,
.lilac-light .rm-reference-main strong {
  /*References */
  color: var(--contrast-colour) !important;
}
.lilac-light .rm-mentions .rm-ref-page-view-title a {
  /* References page title */
  color: var(--title-colour);
}
.lilac-light .rm-reference-item {
  /* Reference item */
  background-color: var(--background-colour);
}
.lilac-light .parent-path-wrapper {
  /* Breadcrumbs in reference */
  color: var(--contrast-colour);
}
.lilac-light #right-sidebar {
  background-color: var(--background-colour) !important;
}
.lilac-light #roam-right-sidebar-content {
  color: var(--title-colour);
}
.lilac-light #right-sidebar h1 a,
.lilac-light #right-sidebar h2 a,
.lilac-light #right-sidebar h3 a {
  /* Headings */
  color: var(--title-colour);
}
.lilac-light .bp3-menu,
.lilac-light .bp3-elevation-3,
.lilac-light .bp3-popover-content,
.lilac-light .bp3-popover-content .bp3-button {
  background-color: var(--background-colour) !important;
  border: 1px solid var(--edges-colour);
  color: var(--contrast-colour) !important;
}
.lilac-light .bp3-popover-arrow {
  display: none;
}
.lilac-light .bp3-popover-content .bp3-button {
  /*Filter menu button */
  background-image: none;
}
.lilac-light .bp3-button sub {
  padding-left: 5px;
}
.lilac-light .bp3-menu button {
  /*Buttons in bullet popup menu */
  background-color: var(--background-colour) !important;
  border: none;
}
.lilac-light .rm-bq {
  background-color: #caa8e8;
}
.lilac-light .roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page:hover {
  color: #f5f8fa;
  background-color: #caa8e8;
}
.lilac-light .rm-command-palette__scroll-container .rm-command-palette__menu .rm-menu-item--active {
  background-color: #caa8e8;
}
