/* Variables */
.roam-power-theme {
  --left-sidebar-font-size: 14px;
  --primary-color: orange;
  --sidebar-right-border-color: orange;
  --page-ref-tag-color: orange;
  --sidebar-color: orange;
  --highlight-color: orange;
  --brackets-color: orange;
  --reference-bg: orange;
  --reference-border: orange;
  --active-line-bg: orange;
  --codeblock-color: white;
  --page-ref-link-color: orange;
  --right-sidebar-background: white;
  --right-sidebar-outline-background: white;
  --roam-body-background: white;
  --roam-article-background: white;
  --page-title-font-weight: 800;
  --page-title-font-size: 40px;
  --page-title-font-color: orange;
  --page-title-background-color: white;
  --link-color: orange;
  --blockquote-background-color: orange;
  --main-article-text-color: orange;
  --right-sidebar-text-color: orange;
  --right-sidebar-font-size: 14px;
  --right-sidebar-font-weight: 300;
  --roam-main-font-size: 14px;
}
.roam-power-theme body {
  letter-spacing: -0.001em;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.roam-power-theme blockquote.rm-bq {
  background: var(--blockquote-background-color) !important;
}
.roam-power-theme .roam-main span {
  font-size: var(--roam-main-font-size);
}
.roam-power-theme #roam-right-sidebar-content span {
  color: var(--right-sidebar-text-color);
  font-size: var(--right-sidebar-font-size);
  font-weight: var(--right-sidebar-font-weight);
}
.roam-power-theme #right-sidebar .rm-sidebar-outline {
  background: var(--right-sidebar-outline-background) !important;
}
.roam-power-theme .roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button {
  padding: 8px 20px;
  font-weight: 900;
  cursor: pointer;
  color: var(--primary-color) !important;
}
.roam-power-theme .roam-body .roam-app .roam-sidebar-container .roam-sidebar-content span,
.roam-power-theme .starred-pages-wrapper a div {
  font-size: var(--left-sidebar-font-size) !important;
}
.roam-power-theme .rm-alias--page {
  color: var(--page-ref-link-color) !important;
}
.roam-power-theme .roam-main {
  background: var(--roam-body-background) !important;
}
.roam-power-theme .roam-body .roam-article {
  background: var(--roam-article-background) !important;
}
.roam-power-theme .roam-body .roam-app h1 {
  color: var(--primary-color) !important;
  font-family: var(--font-family);
  font-weight: bold;
}
.roam-power-theme .roam-body .roam-app .roam-sidebar-container .roam-sidebar-content,
.roam-power-theme .starred-pages-wrapper {
  color: var(--primary-color) !important;
  background: var(--sidebar-color) !important;
}
.roam-power-theme .rm-block__input--active {
  background: var(--active-line-bg) !important;
}
.roam-power-theme .rm-block-text {
  color: var(--main-article-text-color);
}
.roam-power-theme .roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page {
  color: var(--primary-color) !important;
}
.roam-power-theme .roam-sidebar-container {
  border-right: 1px solid var(--sidebar-right-border-color) !important;
}
.roam-power-theme #roam-right-sidebar-content {
  background-color: var(--right-sidebar-background) !important;
  font-size: 15px;
}
.roam-power-theme #right-sidebar .flex-h-box .bp3-button .bp3-minimal .bp3-small {
  color: var(--primary-color) !important;
}
.roam-power-theme .roam-log-container .roam-log-page {
  border-top: 1px solid var(--brackets-color);
}
.roam-power-theme .rm-page-ref-tag {
  color: var(--page-ref-tag-color) !important;
  background: var(--highlight-color) !important;
  padding: 0.1em 0.6em;
  border-radius: 12px;
}
.roam-power-theme .rm-page-ref-brackets {
  color: var(--brackets-color) !important;
}
.roam-power-theme .block-border-left {
  border-left: 1px solid var(--brackets-color);
}
.roam-power-theme .rm-block-ref {
  border-bottom: 1px solid var(--primary-color);
}
.roam-power-theme .rm-block-ref:hover {
  background: var(--highlight-color) !important;
}
.roam-power-theme .rm-page-ref-tag:hover {
  text-decoration: underline;
}
.roam-power-theme .rm-reference-item {
  background-color: var(--reference-bg) !important;
  margin-top: 12px;
  border: 1px solid var(--reference-border);
  border-radius: 4px;
}
.roam-power-theme .rm-reference-item .roam-block {
  padding-top: 8px;
  padding-bottom: 8px;
}
.roam-power-theme .rm-reference-item .controls {
  padding-top: 10px;
  padding-bottom: 4px;
}
.roam-power-theme .rm-page-ref.rm-page-ref-link-color {
  color: var(--highlight-color) !important;
}
.roam-power-theme .rm-page-ref:hover {
  color: var(--highlight-color) !important;
}
.roam-power-theme .rm-page-ref.rm-page-ref-link-color {
  color: var(--highlight-color) !important;
}
.roam-power-theme .bp3-text-overflow-ellipsis {
  color: var(--primary-color) !important;
}
.roam-power-theme a {
  color: var(--link-color) !important;
}
.roam-power-theme a:focus {
  color: var(--link-color) !important;
}
.roam-power-theme a:hover {
  color: var(--link-color) !important;
}
.roam-power-theme .rm-page-ref--link {
  color: var(--page-ref-link-color) !important;
}
.roam-power-theme .cm-editor {
  background: var(--codeblock-color) !important;
}
.roam-power-theme .roam-article {
  color: var(--primary-color) !important;
}
.roam-power-theme .rm-title-display,
.roam-power-theme .rm-title-display span {
  font-weight: var(--page-title-font-weight) !important;
  font-size: var(--page-title-font-size) !important;
  color: var(--page-title-font-color) !important;
  background: var(--page-title-background-color) !important;
}
.roam-power-theme .roam-article .rm-heading-level-3 {
  color: var(--h3-font-color) !important;
}
.roam-power-theme .roam-article .rm-heading-level-3 .rm-block-text {
  background: var(--h3-background-color) !important;
}
.roam-power-theme .roam-article .rm-heading-level-2 {
  color: var(--h2-font-color) !important;
}
.roam-power-theme .roam-article .rm-heading-level-2 .rm-block-text {
  background: var(--h2-background-color) !important;
}
.roam-power-theme .roam-article .rm-heading-level-1 {
  color: var(--h1-font-color) !important;
}
.roam-power-theme .roam-article .rm-heading-level-1 .rm-block-text {
  background: var(--h1-background-color) !important;
}
.roam-power-theme .rm-block-children.rm-block__children.rm-level-6 {
  color: var(--level6-font-color) !important;
  background: var(--level6-background-color) !important;
}
.roam-power-theme .rm-block-children.rm-block__children.rm-level-5 {
  color: var(--level5-font-color) !important;
  background: var(--level5-background-color) !important;
}
.roam-power-theme .rm-block-children.rm-block__children.rm-level-4 {
  color: var(--level4-font-color) !important;
  background: var(--level4-background-color) !important;
}
.roam-power-theme .rm-block-children.rm-block__children.rm-level-3 {
  color: var(--level3-font-color) !important;
  background: var(--level3-background-color) !important;
}
.roam-power-theme .rm-block-children.rm-block__children.rm-level-2 {
  color: var(--level2-font-color) !important;
  background: var(--level2-background-color) !important;
}
.roam-power-theme .rm-block-children.rm-block__children.rm-level-1 {
  color: var(--level1-font-color) !important;
  background: var(--level1-background-color) !important;
}
