/* Variables */
.roam-power-theme {
  --h6-font-size: 20px;
  --h6-font-color: orange;
  --h6-font-weight: 600;
  --h6-background-color: orange;
  --level6-font-size: 20px;
  --level6-font-color: orange;
  --level6-font-weight: 600;
  --level6-background-color: orange;
  --h5-font-size: 20px;
  --h5-font-color: orange;
  --h5-font-weight: 600;
  --h5-background-color: orange;
  --level5-font-size: 20px;
  --level5-font-color: orange;
  --level5-font-weight: 600;
  --level5-background-color: orange;
  --h4-font-size: 20px;
  --h4-font-color: orange;
  --h4-font-weight: 600;
  --h4-background-color: orange;
  --level4-font-size: 20px;
  --level4-font-color: orange;
  --level4-font-weight: 600;
  --level4-background-color: orange;
  --h3-font-size: 20px;
  --h3-font-color: orange;
  --h3-font-weight: 600;
  --h3-background-color: orange;
  --level3-font-size: 20px;
  --level3-font-color: orange;
  --level3-font-weight: 600;
  --level3-background-color: orange;
  --h2-font-size: 20px;
  --h2-font-color: orange;
  --h2-font-weight: 600;
  --h2-background-color: orange;
  --level2-font-size: 20px;
  --level2-font-color: orange;
  --level2-font-weight: 600;
  --level2-background-color: orange;
  --h1-font-size: 20px;
  --h1-font-color: orange;
  --h1-font-weight: 600;
  --h1-background-color: orange;
  --level1-font-size: 20px;
  --level1-font-color: orange;
  --level1-font-weight: 600;
  --level1-background-color: orange;
  --font-size: 14px;
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --primary-color: orange;
  --sidebar-right-border-color: orange;
  --page-ref-tag-color: orange;
  --sidebar-color: orange;
  --highlight-color: orange;
  --brackets-color: orange;
  --reference-bg: orange;
  --reference-border: orange;
  --active-line-bg: orange;
  --codeblock-color: white;
  --page-ref-link-color: orange;
  --right-sidebar-background: white;
  --right-sidebar-outline-background: white;
  --right-sidebar-color: orange;
  --roam-body-background: white;
  --roam-article-background: white;
  --page-title-font-weight: 800;
  --page-title-font-size: 40px;
  --page-title-font-color: orange;
  --page-title-background-color: white;
  --link-color: orange;
  --blockquote-background-color: orange;
}
.roam-power-theme body {
  font-size: var(--font-size);
  font-family: var(--font-family);
  letter-spacing: -0.001em;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.roam-power-theme blockquote.rm-bq {
  background: var(--blockquote-background-color);
}
.roam-power-theme #right-sidebar .rm-sidebar-outline {
  background: var(--right-sidebar-outline-background) !important;
  color: var(--right-sidebar-color);
}
.roam-power-theme .roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button {
  padding: 8px 20px;
  font-weight: 900;
  cursor: pointer;
  font-size: var(--font-size);
  color: var(--primary-color);
}
.roam-power-theme .rm-alias--page {
  color: var(--page-ref-link-color);
}
.roam-power-theme .roam-body {
  background: var(--roam-body-background);
}
.roam-power-theme .roam-body .roam-article {
  background: var(--roam-article-background);
}
.roam-power-theme .roam-body .roam-app h1 {
  color: var(--primary-color) !important;
  font-family: var(--font-family);
  font-weight: bold;
}
.roam-power-theme .roam-body .roam-app {
  border-right: 1px solid var(--sidebar-right-border-color) !important;
}
.roam-power-theme .roam-body .roam-app .roam-sidebar-container .roam-sidebar-content,
.roam-power-theme .starred-pages-wrapper {
  color: var(--primary-color);
  background: var(--sidebar-color);
}
.roam-power-theme .rm-block__input--active {
  background: var(--active-line-bg);
}
.roam-power-theme
  .roam-body
  .roam-app
  .roam-sidebar-container
  .roam-sidebar-content
  .starred-pages-wrapper
  .starred-pages
  .page {
  color: var(--primary-color);
}
.roam-power-theme .roam-sidebar-container {
  border-right: 1px solid var(--sidebar-right-border-color);
}
.roam-power-theme #right-sidebar {
  background-color: var(--right-sidebar-background) !important;
  font-size: 15px;
}
.roam-power-theme #right-sidebar .flex-h-box .bp3-button .bp3-minimal .bp3-small {
  color: var(--primary-color);
}
.roam-power-theme .roam-log-container .roam-log-page {
  border-top: 1px solid var(--brackets-color);
}
.roam-power-theme .rm-page-ref-tag {
  color: var(--page-ref-tag-color) !important;
  background: var(--highlight-color);
  padding: 0.1em 0.6em;
  border-radius: 12px;
}
.roam-power-theme .rm-page-ref-brackets {
  color: var(--brackets-color);
}
.roam-power-theme .block-border-left {
  border-left: 1px solid var(--brackets-color);
}
.roam-power-theme .rm-block-ref {
  border-bottom: 1px solid var(--primary-color);
}
.roam-power-theme .rm-block-ref:hover {
  background: var(--highlight-color);
}
.roam-power-theme .rm-page-ref-tag:hover {
  text-decoration: underline;
}
.roam-power-theme .rm-reference-item {
  background-color: var(--reference-bg);
  margin-top: 12px;
  border: 1px solid var(--reference-border);
  border-radius: 4px;
}
.roam-power-theme .rm-reference-item .roam-block {
  padding-top: 8px;
  padding-bottom: 8px;
}
.roam-power-theme .rm-reference-item .controls {
  padding-top: 10px;
  padding-bottom: 4px;
}
.roam-power-theme .rm-page-ref.rm-page-ref-link-color {
  color: var(--highlight-color);
}
.roam-power-theme .rm-page-ref:hover {
  color: var(--highlight-color);
}
.roam-power-theme .rm-page-ref.rm-page-ref-link-color {
  color: var(--highlight-color);
}
.roam-power-theme .bp3-text-overflow-ellipsis {
  color: var(--primary-color) !important;
}
.roam-power-theme a {
  color: var(--link-color);
}
.roam-power-theme a:focus {
  color: var(--link-color);
}
.roam-power-theme a:hover {
  color: var(--link-color);
}
.roam-power-theme .rm-page-ref--link {
  color: var(--page-ref-link-color);
}
.roam-power-theme .cm-editor {
  background: var(--codeblock-color);
}
.roam-power-theme .roam-article {
  color: var(--primary-color);
}
.roam-power-theme .rm-title-display,
.roam-power-theme .rm-title-display span {
  font-weight: var(--page-title-font-weight) !important;
  font-size: var(--page-title-font-size) !important;
  color: var(--page-title-font-color) !important;
  background: var(--page-title-background-color) !important;
}
.roam-power-theme .roam-article .rm-heading-level-6 {
  color: var(--h6-font-color);
  font-weight: var(--h6-font-weight);
  font-size: var(--h6-font-size);
}
.roam-power-theme .roam-article .rm-heading-level-6 .rm-block-text {
  background: var(--h6-background-color);
}
.roam-power-theme .roam-article .rm-heading-level-5 {
  color: var(--h5-font-color);
  font-weight: var(--h5-font-weight);
  font-size: var(--h5-font-size);
}
.roam-power-theme .roam-article .rm-heading-level-5 .rm-block-text {
  background: var(--h5-background-color);
}
.roam-power-theme .roam-article .rm-heading-level-4 {
  color: var(--h4-font-color);
  font-weight: var(--h4-font-weight);
  font-size: var(--h4-font-size);
}
.roam-power-theme .roam-article .rm-heading-level-4 .rm-block-text {
  background: var(--h4-background-color);
}
.roam-power-theme .roam-article .rm-heading-level-3 {
  color: var(--h3-font-color);
  font-weight: var(--h3-font-weight);
  font-size: var(--h3-font-size);
}
.roam-power-theme .roam-article .rm-heading-level-3 .rm-block-text {
  background: var(--h3-background-color);
}
.roam-power-theme .roam-article .rm-heading-level-2 {
  color: var(--h2-font-color);
  font-weight: var(--h2-font-weight);
  font-size: var(--h2-font-size);
}
.roam-power-theme .roam-article .rm-heading-level-2 .rm-block-text {
  background: var(--h2-background-color);
}
.roam-power-theme .roam-article .rm-heading-level-1 {
  color: var(--h1-font-color);
  font-weight: var(--h1-font-weight);
  font-size: var(--h1-font-size);
}
.roam-power-theme .roam-article .rm-heading-level-1 .rm-block-text {
  background: var(--h1-background-color);
}
.roam-power-theme .rm-block-children.rm-block__children.rm-level-6 {
  font-size: var(--level6-font-size);
  color: var(--level6-font-color);
  background: var(--level6-background-color);
  font-weight: var(--level6-font-weight);
}
.roam-power-theme .rm-block-children.rm-block__children.rm-level-5 {
  font-size: var(--level5-font-size);
  color: var(--level5-font-color);
  background: var(--level5-background-color);
  font-weight: var(--level5-font-weight);
}
.roam-power-theme .rm-block-children.rm-block__children.rm-level-4 {
  font-size: var(--level4-font-size);
  color: var(--level4-font-color);
  background: var(--level4-background-color);
  font-weight: var(--level4-font-weight);
}
.roam-power-theme .rm-block-children.rm-block__children.rm-level-3 {
  font-size: var(--level3-font-size);
  color: var(--level3-font-color);
  background: var(--level3-background-color);
  font-weight: var(--level3-font-weight);
}
.roam-power-theme .rm-block-children.rm-block__children.rm-level-2 {
  font-size: var(--level2-font-size);
  color: var(--level2-font-color);
  background: var(--level2-background-color);
  font-weight: var(--level2-font-weight);
}
.roam-power-theme .rm-block-children.rm-block__children.rm-level-1 {
  font-size: var(--level1-font-size);
  color: var(--level1-font-color);
  background: var(--level1-background-color);
  font-weight: var(--level1-font-weight);
}
