/* Variables */
.roam-power-theme {
  --left-sidebar-font-size: 14px;
  --primary-color: orange;
  --sidebar-right-border-color: orange;
  --page-ref-tag-color: orange;
  --sidebar-color: orange;
  --highlight-color: orange;
  --brackets-color: orange;
  --reference-bg: orange;
  --reference-border: orange;
  --active-line-bg: orange;
  --codeblock-color: white;
  --page-ref-link-color: orange;
  --right-sidebar-background: white;
  --right-sidebar-outline-background: white;
  --roam-body-background: white;
  --roam-article-background: white;
  --page-title-font-weight: 800;
  --page-title-font-size: 40px;
  --page-title-font-color: orange;
  --page-title-background-color: white;
  --link-color: orange;
  --blockquote-background-color: orange;
  --main-article-text-color: orange;
  --right-sidebar-text-color: orange;
  --right-sidebar-font-size: 14px;
  --right-sidebar-font-weight: 300;
  --roam-main-font-size: 14px;

  body { 
    letter-spacing: -0.001em;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  blockquote.rm-bq {
    background: var(--blockquote-background-color) !important;
  }

  .roam-main span {
    font-size: var(--roam-main-font-size);
  }

  #roam-right-sidebar-content span {
    color: var(--right-sidebar-text-color);
    font-size: var(--right-sidebar-font-size);
    font-weight: var(--right-sidebar-font-weight);
  }

  #right-sidebar .rm-sidebar-outline {
    background: var(--right-sidebar-outline-background) !important;
  }

  .roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button {
    padding: 8px 20px;
    font-weight: 900;
    cursor: pointer;
    color: var(--primary-color) !important;
  }
  
   .roam-body .roam-app .roam-sidebar-container .roam-sidebar-content span, .starred-pages-wrapper a div {
    font-size: var(--left-sidebar-font-size) !important;
  }

  .rm-alias--page {
    color: var(--page-ref-link-color) !important;
  }
  .roam-main {
   background: var(--roam-body-background) !important;
  }

  .roam-body .roam-article {
    background: var(--roam-article-background) !important;
  }

  .roam-body .roam-app h1 {
    color: var(--primary-color) !important;
    font-family: var(--font-family);
    font-weight: bold;
  }

  .roam-body .roam-app .roam-sidebar-container .roam-sidebar-content, .starred-pages-wrapper {
    color: var(--primary-color) !important;
    background: var(--sidebar-color) !important;
  }
  .rm-block__input--active {
    background: var(--active-line-bg) !important;
  }

  .rm-block-text {
    color: var(--main-article-text-color);
  }

  .roam-body
  .roam-app
  .roam-sidebar-container
  .roam-sidebar-content
  .starred-pages-wrapper
  .starred-pages
  .page {
    color: var(--primary-color) !important;
  }
  
  .roam-sidebar-container {
    border-right: 1px solid var(--sidebar-right-border-color) !important;
  }

  #roam-right-sidebar-content {
    background-color: var(--right-sidebar-background) !important;
    font-size: 15px;
  }
  #right-sidebar .flex-h-box .bp3-button .bp3-minimal .bp3-small {
    color: var(--primary-color) !important;
  }
  .roam-log-container .roam-log-page {
    border-top: 1px solid var(--brackets-color);
  }
  .rm-page-ref-tag {
    color: var(--page-ref-tag-color) !important;
    background: var(--highlight-color) !important;
    padding: 0.1em 0.6em;
    border-radius: 12px;
  }
  .rm-page-ref-brackets {
    color: var(--brackets-color) !important;
  }
  .block-border-left {
    border-left: 1px solid var(--brackets-color);
  }
  .rm-block-ref {
    border-bottom: 1px solid var(--primary-color);
  }
  .rm-block-ref:hover {
    background: var(--highlight-color) !important;
    // border: 1px solid var(--background-color);
  }
  .rm-page-ref-tag:hover {
    text-decoration: underline;
  }
  .rm-reference-item {
    background-color: var(--reference-bg) !important;
    margin-top: 12px;
    border: 1px solid var(--reference-border);
    border-radius: 4px;
  }
  .rm-reference-item .roam-block {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .rm-reference-item .controls {
    padding-top: 10px;
    padding-bottom: 4px;
  }
  .rm-page-ref.rm-page-ref-link-color {
    color: var(--highlight-color) !important;
  }
  .rm-page-ref:hover {
    color: var(--highlight-color) !important;
  }
  .rm-page-ref.rm-page-ref-link-color {
    color: var(--highlight-color) !important;
  }
  .bp3-text-overflow-ellipsis {
    color: var(--primary-color) !important;
  }
  a {
    color: var(--link-color) !important;
  }
  a:focus {
    color: var(--link-color) !important;
  }
  a:hover {
    color: var(--link-color) !important;
  }

  .rm-page-ref--link {
    color: var(--page-ref-link-color) !important;
  }

  .cm-editor {
    background: var(--codeblock-color) !important;
  }

  .roam-article {
    color: var(--primary-color) !important;
  }
  .rm-title-display,
  .rm-title-display span {
    font-weight: var(--page-title-font-weight) !important;
    font-size: var(--page-title-font-size) !important;
    color: var(--page-title-font-color) !important;
    background: var(--page-title-background-color) !important;
  }
  .roam-article-heading-style(3);
  .rm-level-style(6);
}

.roam-article-heading-style(@index) when (@index > 0) {
  .roam-article .rm-heading-level-@{index} {
    color: var(~'--h@{index}-font-color') !important;
    // font-weight: var(~'--h@{index}-font-weight') !important;
    // font-size: var(~'--h@{index}-font-size') !important;
    // font-family: var(~'--h@{index}-font-family') !important;
  } 

  .roam-article .rm-heading-level-@{index} .rm-block-text {
    background: var(~'--h@{index}-background-color') !important;
  }

  .roam-article-heading-style(@index - 1);
}

.rm-level-style(@index) when (@index > 0) {
  .rm-block-children.rm-block__children.rm-level-@{index}{
    // font-size:var(~'--level@{index}-font-size') !important;
    color:var(~'--level@{index}-font-color') !important;
    background:var(~'--level@{index}-background-color') !important;
    // font-weight:var(~'--level@{index}-font-weight') !important;
    // font-family:var(~'--level@{index}-font-family') !important;
  }

  .rm-level-style(@index - 1);
} 

// .genVariable(@index) when (@index > 0) {
//   --h@{index}-font-size: 20px;
//   --h@{index}-font-color: orange;
//   --h@{index}-font-weight: 600;
//   --h@{index}-font-family: sans-serif;
//   --h@{index}-background-color: orange;
  

//   --level@{index}-font-size: 20px;
//   --level@{index}-font-color: orange;
//   --level@{index}-font-weight: 600; 
//   --level@{index}-font-family: sans-serif;
//   --level@{index}-background-color: orange;


//   .genVariable(@index - 1);
// }
 